{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
Welcome to School Manager Global Analytics Page!
{% endblock %}
{% block app_imports %}
<script src="{% static "analytics/js/analytics.js" %}"></script>
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<p>Welcome to School Manager Global Analytics Page {{ user.username }}. Thanks for logging in.</p>
<div class="btn-group">
  <a href="/schools"><button type="button" class="btn btn-default">My Schools</button></a>
  <a href="/schools/create"><button type="button" class="btn btn-default">Add a School</button></a>
  <a href="/analytics"><button type="button" class="btn btn-default">Analytics</button></a>
  <a href="/api"><button type="button" class="btn btn-default">API</button></a>
  <a><button id="chart_refresh" type="button" class="btn btn-default">Refresh Chart</button></a>
</div>
<!-- Dimension Button group -->
<div id="dim_but_div" class="btn-group">
  <button id="dim_but" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
  Dimensions <span class="caret"></span>
  </button>
  <ul id="dim_list"class="dropdown-menu" role="menu">
    <!-- <li><a href="#">Action</a></li> -->
  </ul>
</div>
<!-- Button group -->
<!-- Measure Button group -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
  Measures <span class="caret"></span>
  </button>
  <ul id="measure_list"class="dropdown-menu" role="menu">
    <li><a href="#">Sum</a></li>
    <li><a href="#">Count</a></li>
    <li><a href="#">Average</a></li>
  </ul>
</div>
<!-- Button group -->
<!-- Matplotlib Chart -->

<div class="container-fluid"> <!-- fluid Container -->
  <div class="row"> <!-- row row  -->
    <div class"col-md-12 col-lg-12"> <!-- col col col  -->
      <img id="base_chart" src="/analytics/chart" />
      <img id="base_chart" src="/analytics/chart" />
    </div>                <!-- col col col  --> 
  </div>  
  <div class="row"> <!-- row row  -->
    <div class"col-md-3 col-lg-9"> <!-- col col col  -->
      <form class="form-horizontal">
        <fieldset>
          <!-- Form Name -->
          <legend>Form Name</legend>
          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">Select Basic</label>
            <div class="col-md-4">
              <select id="selectbasic" name="selectbasic" class="form-control">
                <option value="1">Option one</option>
                <option value="2">Option two</option>
              </select>
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Text Input</label>
            <div class="col-md-4">
              <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
              <span class="help-block">help</span>
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Text Input</label>
            <div class="col-md-4">
              <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
              <span class="help-block">help</span>
            </div>
          </div>
          <!-- Multiple Checkboxes -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="checkboxes">Multiple Checkboxes</label>
            <div class="col-md-4">
              <div class="checkbox">
                <label for="checkboxes-0">
                  <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
                  Option one
                </label>
              </div>
              <div class="checkbox">
                <label for="checkboxes-1">
                  <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">
                  Option two
                </label>
              </div>
            </div>
          </div>
          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
            <div class="col-md-4">
              <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div> <!-- col col col  -->
  </div> <!-- row row  -->
</div> <!-- fluid Container -->
<!-- Matplotlib Chart -->
<!-- Bottom Row Button group -->
<!-- Button group -->
<div class="btn-group">
  <a href="/schools"><button type="button" class="btn btn-default">My Schools</button></a>
  <a href="/schools/create"><button type="button" class="btn btn-default">Add a School</button></a>
  <a href="/analytics"><button type="button" class="btn btn-default">Analytics</button></a>
  <a href="/api"><button type="button" class="btn btn-default">API</button></a>
  <a><button id="chart_refresh_bottom" type="button" class="chart-refresh btn btn-default">Refresh Chart</button></a>
</div>
<!-- Button group -->
<!-- Drop Down Button group -->
<div id="dim_but_div" class="btn-group">
  <button id="dim_but" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
  Other Actions <span class="caret"></span>
  </button>
  <ul id="" class="dropdown-menu" role="menu">
    <!-- <li><a href="#">Action</a></li> -->
  </ul>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="col-md-3">
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="col-md-3">
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="col-md-3">
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>
</div>
<!-- Drop Down Button group -->
<!-- Bottom Row Button group -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="active">Active</th>
              <th class="success">Success</th>
              <th class="warning">Warning</th>
              <th class="danger">Danger</th>
              <th class="info">Info</th>
            </tr>
          </thead>
          <tr>
            <td class="active">Active</td>
            <td class="success">Success</td>
            <td class="warning">Warning</td>
            <td class="danger">Danger</td>
            <td class="info">Info</td>
          </tr>
          <tr>
            <td class="active">Active</td>
            <td class="success">Success</td>
            <td class="warning">Warning</td>
            <td class="danger">Danger</td>
            <td class="info">Info</td>
          </tr>
          <tr>
            <td class="active">Active</td>
            <td class="success">Success</td>
            <td class="warning">Warning</td>
            <td class="danger">Danger</td>
            <td class="info">Info</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="active">Active</th>
              <th class="success">Success</th>
              <th class="warning">Warning</th>
              <th class="danger">Danger</th>
              <th class="info">Info</th>
            </tr>
          </thead>
          <tr>
            <td class="active">Active</td>
            <td class="success">Success</td>
            <td class="warning">Warning</td>
            <td class="danger">Danger</td>
            <td class="info">Info</td>
          </tr>
          <tr>
            <td class="active">Active</td>
            <td class="success">Success</td>
            <td class="warning">Warning</td>
            <td class="danger">Danger</td>
            <td class="info">Info</td>
          </tr>
          <tr>
            <td class="active">Active</td>
            <td class="success">Success</td>
            <td class="warning">Warning</td>
            <td class="danger">Danger</td>
            <td class="info">Info</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
{% else %}
<p>Welcome, new user. Please <a href="/accounts/login/">log in</a> or <a href="/accounts/register">create</a>  and account</p>
{% endif %}
{% endblock %}