	<script src="/app/fullcalendar-2.0.0/jquery-1.8.1-min.js"></script>
	<script src="/app/fullcalendar-2.0.0/lib/jquery-ui.custom.min.js"></script>  
    <script src="/app/fullcalendar-2.0.0/lib/moment.min.js"></script>
    <script src="/app/fullcalendar-2.0.0/fullcalendar.min.js"></script>
	<link rel="stylesheet" href="/app/fullcalendar-2.0.0/fullcalendar.css" />
	<link rel="stylesheet" href="/app/fullcalendar-2.0.0/fullcalendar.print.css"/>
	<script>$(document).ready(function() {

    // page is now ready, initialize the calendar...

    	$('#calendar').fullCalendar({
        	header: {
        		left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
        	},
        	events: 'http://localhost:3000/schools/14/calendar/events/',
        	timezone: 'UTC'
    	})

	});
	</script>

	<h2>Calendar for School</h2>

	<div id='calendar' class='fc fc-ltr'></div>