{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js" ng-app="myApp" ng-cloak> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}School Manager{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "initializr/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "app/bower_components/html5-boilerplate/css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "app/bower_components/html5-boilerplate/css/main.css" %}">
  <link rel="stylesheet" href="{% static "initializr/css/bootstrap-theme.min.css" %}">
  <script src="{% static "fullcalendar-2.0.0/lib/jquery.min.js" %}"></script>
  <script src="{% static "initializr/js/vendor/bootstrap.min.js" %}"></script>
  <script src="{% static "initializr/js/plugins.js" %}"></script>  
  <script src="{% static "initializr/js/main.js" %}"></script>
  <link rel="stylesheet" href="{% static "app/css/app.css" %}"/>
  <script src="{% static "fullcalendar-2.0.0/lib/jquery.min.js" %}"></script>
  <script src="{% static "fullcalendar-2.0.0/lib/jquery-ui.custom.min.js" %}"></script>  
  <script src="{% static "fullcalendar-2.0.0/lib/moment.min.js" %}"></script>
  <script src="{% static "fullcalendar-2.0.0/fullcalendar.min.js" %}"></script>
  <script src="{% static "app/bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js" %}"></script>
</head>
<body ng-cloak ng-controller="authController">
  
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-init="authState.user='{{user.username}}'">
  {% verbatim %}
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">School Manager V 0.0.1</a>
      </div>
      <div class="navbar-collapse collapse">
          <ul ng-show="authState.user" class="menu navbar-form navbar-left">
            <li class="navbar-form navbar-left"><a href="#/calendar">Calendar</a></li>
            <li class="navbar-form navbar-left"><a href="#/courses">Courses</a></li>
            <li class="navbar-form navbar-left"><a href="#/students">Students</a></li>
          </ul>
        
          <div ng-show="authState.user" class="navbar-form navbar-right">
            <select name="Select School:" ng-controller="userSchoolsCtrl" ng-model="Shared.selectedSchool" ng-options="school.name for school in schools"></select>
            <input type="submit" class="btn btn-default" ng-click="logout()" value="Logout"/>
          </div>
          <div ng-hide="authState.user">
              <form id="id_auth_form" class="navbar-form navbar-right" ng-submit="login()">
                  <div class="form-group">
                      <input ng-model="username" required name="username" type="text" placeholder="username" class="form-control">
                  </div>
                  <div class="form-group">
                      <input ng-model="password" required name="password" type="password" placeholder="password" class="form-control">
                  </div>
                  <div class="btn-group">
                      <input type="submit" class="btn btn-default" value="login">
                  </div>
              </form>
          </div>
        </div><!--/.navbar-collapse -->
      </div>
    </div>


  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" ng-show="authState.user">
      <!--<pre>{{Shared.selectedSchool.name}}</pre>-->
      <div ng-hide="Shared.selectedSchool">
        <h2>Please select a school.</h2>
      </div>
    </div>
    <div class="container" ng-show="authState.user">
      <script type="text/ng-template" id="modalContainer">
      </script>
      <div ng-show="Shared.selectedSchool" ng-view></div>
    </div>
    <footer>
      <p>&copy; The School Manager Company 2014</p>
    </footer></div> <!-- /container -->
  {% endverbatim %}
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="{% static "app/bower_components/angular/angular.js" %}"></script>
  <script src="{% static "app/bower_components/angular-route/angular-route.js" %}"></script>
  <script src="{% static "app/bower_components/angular-resource/angular-resource.js" %}"></script>
  <script src="{% static "app/bower_components/angular-cookies/angular-cookies.js" %}"></script>
  <script src="{% static "app/bower_components/angular-bootstrap/ui-bootstrap-tpls.js" %}"></script>
  <script src="{% static "app/bower_components/angular-ui-calendar/src/calendar.js" %}"></script>
  <script src="{% static "app/js/app.js" %}"></script>
  <script src="{% static "app/js/services.js" %}"></script>
  <script src="{% static "app/js/controllers.js" %}"></script>
  <script src="{% static "app/js/filters.js" %}"></script>
  <script src="{% static "app/js/directives.js" %}"></script>
</body>
</html>
